.add-user-page {
  margin-top: 40px;
  margin-bottom: 30px;
  .send-invite {
    float: right;
    padding: 0 30px;
    width: auto;
    height: 56px;
    line-height: 56px;
    margin-top: 0;
  }
  .send-invite:hover {
    color: #fff;
    text-decoration: none;
  }
  .form-section {
    max-width: 788px;
    margin: 0 auto;
    overflow: hidden;
    clear: left;
    padding-top: 20px;
    h4 {
      font-weight: 300;
    }
    p {
      color: #777777;
      margin: 20px 0;
    }
  }
  .dateofbirth-col {
    padding-right: 10px;
    position: relative;
  }
  .dateofbirth-col::after {
    background-color: #f5f6f6;
    height: 62px;
    width: 10px;
    content: "";
    float: left;
    position: absolute;
    right: 0;
    top: 0;
  }
  .dateofbirth {
    background-color: #f5f6f6;
    border: 0;
    width: 100%;
    padding: 0px 0px 0 15px;
    line-height: 62px;
    height: 62px;
    outline: none;
    border-radius: 0;
  }
}
