<div class="body">
  <div *ngIf="isDisabled" ng-app="myApp" ng-controller="myController" class="container reset-container z-index">
      <div class="card-container">
          <div class="text-center mb-2"><img src="assets/images/logo.png" class="logo" alt="Responsive image" /></div>
          <p class="welcome-text">Welcome to BeeHive!</p>
          <form class="from-white">
              <h3>Your Reset Password Link has expired or has already been used.</h3>
              <a class="btn btn-primary btn-block yellow-btn" href="/">Return to Sign In</a>
          </form>
      </div>
  </div>
  <div *ngIf="!isDisabled" ng-app="myApp" ng-controller="myController" class="container reset-container z-index">
      <div class="card-container">
          <div class="text-center mb-2"><img src="assets/images/logo.png" class="logo" alt="Responsive image" /></div>
          <p class="welcome-text">Welcome to BeeHive!</p>
          <div class="row">
              <div class="col-3"></div>
              <div  *ngIf="message" class="col-6 alert alert-success" role="alert" style="width: 50%; text-align: center;">
                Password reset successfully.
              </div>
              <div class="col-3"></div>
            </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="from-white">
              <h2 class="mb-4">Reset Password</h2>
              <fieldset class="form-group">
                  
                  <input required [(ngModel)]="password" formControlName="password" name="password" [ngClass]="{ 'is-invalid': submitted && validate.password.errors }" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" type="password" class="inp_1" id="password" autocomplete="off" placeholder=" " pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                  <label for="code">Password</label>
                  <div class="error-sec" *ngIf="submitted && validate.password.errors">
                      <div *ngIf="validate.password.errors?.required" class="validate-field">Password is required.</div>
                      <div *ngIf="validate.password.errors?.pattern" class="validate-field"> Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                      letter and 1 number</div>
                  </div>
              </fieldset>
              <fieldset class="form-group">
                  
                  <input required [(ngModel)]="confirmpassword" formControlName="confirmpassword" name="confirmpassword" [ngClass]="{ 'is-invalid': submitted && validate.confirmpassword.errors }" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" type="password" class="inp_1" id="confirmpassword" autocomplete="off" placeholder=" " pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                  <label for="code">Confirm Password</label>
                  <div class="error-sec" *ngIf="submitted && validate.confirmpassword.errors">
                      <div *ngIf="validate.confirmpassword.errors?.required" class="validate-field">Password is required.</div>
                      <div *ngIf="validate.confirmpassword.errors?.pattern" class="validate-field"> Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                      letter and 1 number</div>
                  </div>
                  <p class="error" *ngIf="password !== confirmpassword" class="validate-field">
                      Password does not match the confirm password.
                  </p>
              </fieldset>
              <div class="">
                  <button class="btn btn-primary btn-block yellow-btn" type="submit">Reset</button>
              </div>      
          </form> 
      </div>  
  </div>
</div>
  