  <!-- Toolbar -->
  <!-- <div class="toolbar" role="banner">
    <div class="spacer"></div>
    <div class="form-group">
    </div>
</div> -->
<div class="body">
    <div class="container forgot-pass-container z-index">
      <div class="text-center mb-2"><img src="assets/images/logo.png" class="logo" alt="Responsive image" /></div>
      <p class="welcome-text">Welcome to CodeQuality!</p>
        <div ng-app="myApp" ng-controller="myController" class="from-white"> 
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
          </div>
          <h2 class="text-center mb-4">Password Reset</h2>
          <div class="form-section">
            <div class="flash-message-display">
                <flash-messages></flash-messages>
            </div>
              <form [formGroup]="forgotPasswordForm"  (ngSubmit)="onSubmit()">
                <p class="text-center mb-4 need-app">Enter your email address and we will send you a link to reset your password.</p>             
                  <fieldset class="form-group">                  
                      <input formControlName="email" type="email" class="inp_1" placeholder=" " [ngClass]="{ 'is-invalid': submitted && validate.email.errors }" required/>
                      <label for="exampleInputEmail1">Email</label>
                      <div class="error-sec" *ngIf="submitted && validate.email.errors">
                      <div *ngIf="validate.email.errors?.required" class="validate-field">Email is required.</div>
                  <!-- <div *ngIf="validate.username.errors?.pattern" class="validate-field"> Enter valid email address</div> -->
                      </div>
                  </fieldset>
                  <button type="submit" class="btn btn-primary btn-block yellow-btn">Reset Password</button>
                  <div class="form-group text-center mb-0">               
                    <a href="/" class="back-to-signin">Back to Sign In</a>
                  </div>
              </form>
          
        </div>
        <!-- <div *ngIf="confirmCode" class="row message-row">
            <h3>Please check your email for the validation code and enter it here:</h3>
            <div class="col-lg-4">
              <form (ngSubmit)="validateAuthCode(codeform)" #codeform="ngForm">
                <div class="form-group">
                  <label for="code">Code</label>
                  <input type="text" name="code" id="code" ngModel class="form-control" required>
                  <label for="code">New Password</label>
                  <input type="text" name="password" id="password" ngModel class="form-control" required>
                  <label for="code">Confirm Password</label>
                  <input type="text" name="confirmpassword" id="confirmpassword" ngModel class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Validate Code</button>
              </form>
            </div>
        </div>
        <div *ngIf="codeWasConfirmed" class="row message-row">
          <h3>Verification Code was confirmed, please click <a routerLink="/login">here</a> to login</h3>
        </div> -->
    </div>
  </div>